[Desktop Entry]
Encoding=UTF-8
Name=한글코드(Mecab)-파일 열기 문제.ipynb에 링크
Type=Link
URL=http://localhost:8888/notebooks/%ED%95%9C%EA%B8%80%EC%BD%94%EB%93%9C(Mecab)-%ED%8C%8C%EC%9D%BC%20%EC%97%B4%EA%B8%B0%20%EB%AC%B8%EC%A0%9C.ipynb
Icon=text-html
